.box {
    width: 80%;
    margin: 150px auto 0;
    border-bottom: 6px solid #ebeefc;
    min-width: 300px;
    
    @media (max-width: 700px){
        width: 100%;
    }
    
     td {
        font-size: 36pt;
        position: relative;
        text-align: center;


        span {
            font-size: 36pt;
            position: absolute;
            left: 50%;
            top: -37px;
            transform: translateX(-50%);

            @media (max-width: 1150px){
                font-size: 20pt;
                top: 16px;
            }

        }

        img:nth-child(2) {
            width: 70px;
            margin-bottom: -70px;

            @media (max-width: 1150px){
                width: 40px;
            }

        }
        
        img:last-child {
            position: absolute;
            bottom: -30%;
            left: -10%;
            width: 80px;

            @media (max-width: 1150px){
                width: 40px;
            }

        }
        
                &:first-child img:last-child {
                    left: 13%;
                    width: 50px;

                    @media (max-width: 1150px){
                        width: 20px;
                    }
                }

    }

    
}

.text{
    text-align: center;
    font-size: 30pt;
    font-weight: bold;
    margin: 50px auto 180px;

    @media (max-width: 700px){
        font-size: 16pt;
    }
}