.block1, .block2 {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    // .text {
    //     white-space: pre-wrap;
    //     // test
    // }
   
}

.block1 { 
    @media (max-width: 900px){
        flex-direction: column-reverse;
        margin-top: 100px;
        justify-content: flex-start;
    }
}

.block2 {
    
    h2 {
        margin-bottom: 50px;
        font-size: 42px;
        font-weight: bold;
    }
 
    .text {
        padding: 70px;
        text-align: left;
        box-sizing: border-box;
        line-height: 51px;
        font-size: 23px;
        font-weight: bold;
        width: 50%;
    }
        background: #f7f7f7;

    @media (max-width: 900px){
        flex-direction: column;
        margin-top: 50px;
        justify-content: flex-start;
    }
}


.block1 img {
    width: 50%;

    @media (max-width: 900px){
        width: 100%;
        margin-right: 0;
    }
}

.block2 img {
    width: 50%;

    @media (max-width: 900px){
        width: 100%;
        margin-left: 0;
    }
}
