@import '../../variables.scss';

.carousel-indicators {
    bottom: -85px;

     button{
        background-color: #2b48da!important;
        border-radius: 50% !important;
        height: 10px!important;
        width: 10px!important;
    }

    :not(.active){
        background-color: grey !important;
    }

    
}

.carousel-item {
    transition: transform 1.2s ease-in-out;
}

.hidden {
    display: none;
}



.heroText {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);

    h2{
        font-size: 100px;
        line-height: 100px;
        font-weight: bold;
        text-align: center;
    }

    p {
        font-size: 40px;
        margin-top: 50px;
        text-align: center;
    }

    a{
        color: $textcolor;
    }


}