@import "~bootstrap/scss/bootstrap";
@import "./variables.scss";

@font-face {
  font-family: 'TenorSans';
  src: local('TenorSans'), url(./fonts/TenorSans-Regular.ttf) format('truetype');
}



body {
  margin: 0;
  padding: 0 50px;
  font-family:  'TenorSans';
  color: $textcolor;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;

    @media (max-width: 700px) {
      padding: 0 !important
    }

}

code {
  font-family:  'TenorSans';
}
